<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Log4Error" type="Log4Error.Configuration.Log4ErrorSection, Log4Error" />
	</configSections>
	<Log4Error>
		<Assemblies>
			<Assembly name="UnitTests"/>
			<Assembly name="Log4Error"/>
		</Assemblies>
	</Log4Error>
</configuration>